$Ebony-Clay: #2c2f3f;
$Curious-Blue: #149ddd;
$Spun-Pearl: #a8a9b4;
$Link-Water: #f5f8fd;
$Black-Pearl: #050d18;
$Cornflower-Blue: #6665ee;
$While: #fff;
$Black: #000;
$Biscay: #173b6c;
$Gallery: #f0f0f0;
$Water: #e4edf9;
body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}
main {
    margin-left: 300px;
    overflow: hidden;
    section {
        padding: 50px 0;
    }
    @media (max-width: 767px) {
        margin-left: 0;
    }
}
.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 15px;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20 px;
    padding-bottom: 20 px;
    position: relative;
    color: $Biscay;
    padding-bottom: 15px;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $Curious-Blue;
        bottom: 0;
        left: 0;
    }
}
.subtitle {
    font-size: 25px;
    margin: 15px 0;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    color: #fff;
    z-index: 50;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $Black-Pearl;
        z-index: 2;
    }
    &__logo {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
        position: relative;
        z-index: 3;
    }
    &__burger {
        display: none;
    }
    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 80px;
        align-items: center;
        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            .my-foto {
                position: relative;
                margin: 15px 0;
                width: 150px;
                height: 150px;
                border: 8px solid $Ebony-Clay;
                display: block;
                border-radius: 50%;
                &::before {
                    content: "";
                    background-image: url(../img/i-4.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 50%;
                }
            }
            h1 {
                font-size: 24px;
                font-weight: 600;
            }
            .social {
                margin: 30px 0 0 0;
                a {
                    font-size: 18px;
                    background: $Ebony-Clay;
                    display: inline-block;
                    border-radius: 50%;
                    padding: 8px;
                    margin-right: 5px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    transition: 0.3s;
                    &:hover {
                        background: $Curious-Blue;
                    }
                }
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        li {
            list-style: none;
            margin: 0 0 0 20px;
            .header__link {
                display: inline-block;
                color: $Spun-Pearl;
                margin: 12px 15px;
                text-transform: uppercase;
                font-size: 18px;
                text-decoration: none;
                transition: 0.3s;
                i {
                    font-size: 24px;
                    padding-right: 8px;
                    transition: 0.3s;
                }
                &:hover {
                    color: #fff;
                    i {
                        color: $Curious-Blue;
                    }
                }
            }
        }
    }
}

.content {
    padding: 100px 0 0 0;
}
.content__text {
    font-size: 18px;
    line-height: 25px;
    p {
        margin: 0 0 20px 0;
    }
}
@media (max-width: 767px) {
    .header {
        &::before {
            content: none;
        }
    }
    body {
        &.lock {
            overflow: hidden;
        }
    }
    .header__body {
        height: 50px;
    }
    .header__burger {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 3;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: $Curious-Blue;
        border-radius: 50%;
        span {
            position: absolute;
            background-color: #fff;
            left: 10px;
            width: 20px;
            height: 2px;
            top: 19px;
            transition: all 0.3s ease 0s;
        }
        &::before,
        &::after {
            content: "";
            background-color: #fff;
            position: absolute;
            width: 20px;
            height: 2px;
            left: 10px;
            transition: all 0.3s ease 0s;
        }
        &::before {
            top: 10px;
        }
        &::after {
            bottom: 10px;
        }
        &.active {
            span {
                transform: scale(0);
            }
            &::before {
                transform: rotate(45deg);
                top: 18px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 18px;
            }
        }
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        overflow: auto;
        background-color: $Black-Pearl;
        padding: 30px 10px 20px 10px;
        transition: all 0.5s ease 0s;
        &.active {
            left: 0;
        }
    }
    .header__list {
        display: block;
        li {
            margin: 0 0 20px 0;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: $Ebony-Clay;
    color: $While;
    height: 100vh;

    h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
    }
    p {
        font-size: 26px;
        font-family: "Poppins", sans-serif;
    }
}

.about {
    &__content {
        display: flex;
        justify-content: center;
        .about__img {
            width: 200px;
            height: auto;
        }
        .txt {
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__header {
                h3 {
                    font-weight: 700;
                    font-size: 26px;
                    color: $Biscay;
                    margin-bottom: 5px;
                }
                font-size: 20px;
            }
            &__main {
                max-width: 800px;
                &_box {
                    font-size: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    ul {
                        li {
                            margin: 10px 0;
                            span {
                                font-weight: bold;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            &__footer {
                font-size: 20px;
            }
        }
    }
}

.skills {
    background-color: $Link-Water;
    .skills-bar {
        background: $While;
        border-radius: 10px;
        padding: 25px 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        .bar {
            margin: 20px 0;
            &:first-child {
                margin-top: 0;
            }
            .info {
                margin-bottom: 5px;
                span {
                    font-style: 17px;
                    font-weight: 500;
                    opacity: 0;
                    animation: showText2 0.5s 1s linear forwards;
                }
            }
            .progress-line {
                position: relative;
                height: 10px;
                width: 100%;

                background: $Gallery;
                box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
                transform: scaleX(0);
                transform-origin: left;
                animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
                &.html {
                    span {
                        width: 90%;
                        &::after {
                            content: "90%";
                        }
                    }
                }
                &.css {
                    span {
                        width: 90%;
                        &::after {
                            content: "90%";
                        }
                    }
                }
                &.js {
                    span {
                        width: 40%;
                        &::after {
                            content: "40%";
                        }
                    }
                }
                &.scss {
                    span {
                        width: 70%;
                        &::after {
                            content: "70%";
                        }
                    }
                }
                &.gulp {
                    span {
                        width: 45%;
                        &::after {
                            content: "45%";
                        }
                    }
                }
                &.bootstrap {
                    span {
                        width: 80%;
                        &::after {
                            content: "80%";
                        }
                    }
                }
                &.wordpress {
                    span {
                        width: 30%;
                        &::after {
                            content: "30%";
                        }
                    }
                }
                &.figma {
                    span {
                        width: 65%;
                        &::after {
                            content: "65%";
                        }
                    }
                }

                span {
                    height: 100%;
                    width: 80%;
                    position: absolute;
                    background: $Cornflower-Blue;
                    border-radius: 10px;
                    transform: scaleX(0);
                    transform-origin: left;
                    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
                    &::before {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: -10px;
                        height: 0;
                        width: 0;
                        border: 7px solid transparent;
                        border-bottom-width: 0px;
                        border-right-width: 0px;
                        border-top-color: $Black;
                        opacity: 0;
                        animation: showText2 0.5s 1.5s linear forwards;
                    }
                    &::after {
                        position: absolute;
                        right: 0;
                        top: -22px;
                        color: #fff;
                        font-size: 12px;
                        font-weight: 500;
                        background: $Black;
                        padding: 1px 8px;
                        border-radius: 3px;
                        opacity: 0;
                        animation: showText2 0.5s 1.5s linear forwards;
                    }
                }
            }
        }
    }
}
.resume {
    &__content {
        display: flex;
        text-align: left;
        &_left {
            max-width: 60%;
        }
    }
}
.sumary {
    padding: 0 0 20px 0;

    position: relative;
    &__title {
        h2 {
            font-size: 26px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;
            color: $Black-Pearl;
        }
    }
    &__content {
        border-left: 2px solid #1f5297;
        padding: 0 0 20px 20px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -11px;
            top: 0;
            background: #fff;
            border: 2px solid #1f5297;
        }
        h3 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: $Black-Pearl;
            margin-bottom: 10 px;
        }
        ul {
            li {
                list-style: inside;
                padding: 10px 0;
            }
        }
        p {
            margin: 20px 0;
            line-height: 20px;
        }
    }
}
.education {
    margin-top: 40px;

    &__title {
        h2 {
            font-size: 26px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 20px;
            color: $Black-Pearl;
        }
    }
    &__content {
        padding: 0 0 20px 20px;
        border-left: 2px solid #1f5297;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -11px;
            top: 0;
            background: #fff;
            border: 2px solid #1f5297;
        }
        display: flex;
        flex-direction: column;
        h4 {
            line-height: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: #050d18;
            margin-bottom: 10px;
        }
        p {
            max-width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #e4edf9;
            padding: 5px 15px;
            margin-bottom: 10px;
            span {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .education__txt {
            margin-bottom: 20px;
        }
    }
}
.professional-experience {
    padding: 0 0 20px 20px;
    height: 100%;

    .professional {
        &__title {
            height: 100%;
            h2 {
                font-size: 26px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 20px;
                color: $Black-Pearl;
            }
        }
        &__content {
            padding: 0 0 20px 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-left: 2px solid #1f5297;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 50px;
                left: -11px;
                top: 0;
                background: #fff;
                border: 2px solid #1f5297;
            }
            &_text {
                h3 {
                    line-height: 18px;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $Black-Pearl;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 16px;
                    background: $Water;
                    padding: 5 px 15 px;
                    display: inline-block;
                    font-weight: 600;
                    margin-bottom: 10px;
                    padding: 5px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
}
.portfolio {
    background: $Link-Water;
}

.tabs {
    margin: 30px 0;
    &__list {
        display: flex;
        justify-content: center;
        border-radius: 50px;
    }
    /* &__item {
    } */
    
    &__btn {
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        color: #272829;
        background: $While;
        margin-bottom: 5px;
        border: none;
        transition: all 0.3s ease-in-out;
        margin: 0 10px;
        border-radius: 50px;
        &:hover{
            color: $Curious-Blue;
        }
    }
    &__btn--active {
        color: $Curious-Blue;
        pointer-events: none;
    }
     &__content {
         display: none;
    }
    &__content--active {
        display: block;
    } 
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__img {
        max-width: 300px;
        max-height: 300px;
        margin: 5px 5px;
        position: relative;
        &::before{
            position: absolute;
            content: "Go to";
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $While;
            font-size: 20px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(20, 157, 221, 0.75);
            height: 0;
            transition: 0.5s;
            opacity: 0;
            
        }
        &:hover{
            &::before{
                opacity: 1;
                height: 40px;
            }
        }
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}
@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
