body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

main {
  margin-left: 300px;
  overflow: hidden;
}

main section {
  padding: 50px 0;
}

@media (max-width: 767px) {
  main {
    margin-left: 0;
  }
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20 px;
  padding-bottom: 20 px;
  position: relative;
  color: #173b6c;
  padding-bottom: 15px;
}

.title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.subtitle {
  font-size: 25px;
  margin: 15px 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: auto;
  color: #fff;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040b14;
  z-index: 2;
}

.header__logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.header__body .profile .my-foto {
  position: relative;
  margin: 15px 0;
  width: 150px;
  height: 150px;
  border: 8px solid #2c2f3f;
  display: block;
  border-radius: 50%;
}

.header__body .profile .my-foto::before {
  content: "";
  background-image: url(../img/i-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

.header__body .profile h1 {
  font-size: 24px;
  font-weight: 600;
}

.header__body .profile .social {
  margin: 30px 0 0 0;
}

.header__body .profile .social a {
  font-size: 18px;
  background: #2c2f3f;
  display: inline-block;
  border-radius: 50%;
  padding: 8px;
  margin-right: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__body .profile .social a:hover {
  background: #149ddd;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__list li .header__link {
  display: inline-block;
  color: #a8a9b4;
  margin: 12px 15px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__list li .header__link i {
  font-size: 24px;
  padding-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__list li .header__link:hover {
  color: #fff;
}

.header__list li .header__link:hover i {
  color: #149ddd;
}

.content {
  padding: 100px 0 0 0;
}

.content__text {
  font-size: 18px;
  line-height: 25px;
}

.content__text p {
  margin: 0 0 20px 0;
}

@media (max-width: 767px) {
  .header::before {
    content: none;
  }
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__burger {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #149ddd;
    border-radius: 50%;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 10px;
    width: 20px;
    height: 2px;
    top: 19px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 10px;
  }
  .header__burger::after {
    bottom: 10px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 18px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 18px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: #040b14;
    padding: 30px 10px 20px 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active {
    left: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2c2f3f;
  color: #fff;
  height: 100vh;
}

.hero h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
}

.hero p {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content .about__img {
  width: 200px;
  height: auto;
}

.about__content .txt {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content .txt__header {
  font-size: 20px;
}

.about__content .txt__header h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  margin-bottom: 5px;
}

.about__content .txt__main {
  max-width: 800px;
}

.about__content .txt__main_box {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content .txt__main_box ul li {
  margin: 10px 0;
}

.about__content .txt__main_box ul li span {
  font-weight: bold;
  margin-right: 5px;
}

.about__content .txt__footer {
  font-size: 20px;
}

.skills {
  background-color: #f5f8fd;
}

.skills .skills-bar {
  background: #fff;
  border-radius: 10px;
  padding: 25px 30px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skills .skills-bar .bar {
  margin: 20px 0;
}

.skills .skills-bar .bar:first-child {
  margin-top: 0;
}

.skills .skills-bar .bar .info {
  margin-bottom: 5px;
}

.skills .skills-bar .bar .info span {
  font-style: 17px;
  font-weight: 500;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1s linear forwards;
          animation: showText2 0.5s 1s linear forwards;
}

.skills .skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skills .skills-bar .bar .progress-line.html span {
  width: 90%;
}

.skills .skills-bar .bar .progress-line.html span::after {
  content: "90%";
}

.skills .skills-bar .bar .progress-line.css span {
  width: 90%;
}

.skills .skills-bar .bar .progress-line.css span::after {
  content: "90%";
}

.skills .skills-bar .bar .progress-line.js span {
  width: 40%;
}

.skills .skills-bar .bar .progress-line.js span::after {
  content: "40%";
}

.skills .skills-bar .bar .progress-line.scss span {
  width: 70%;
}

.skills .skills-bar .bar .progress-line.scss span::after {
  content: "70%";
}

.skills .skills-bar .bar .progress-line.gulp span {
  width: 45%;
}

.skills .skills-bar .bar .progress-line.gulp span::after {
  content: "45%";
}

.skills .skills-bar .bar .progress-line.bootstrap span {
  width: 80%;
}

.skills .skills-bar .bar .progress-line.bootstrap span::after {
  content: "80%";
}

.skills .skills-bar .bar .progress-line.wordpress span {
  width: 30%;
}

.skills .skills-bar .bar .progress-line.wordpress span::after {
  content: "30%";
}

.skills .skills-bar .bar .progress-line.figma span {
  width: 65%;
}

.skills .skills-bar .bar .progress-line.figma span::after {
  content: "65%";
}

.skills .skills-bar .bar .progress-line span {
  height: 100%;
  width: 80%;
  position: absolute;
  background: #6665ee;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skills .skills-bar .bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

.skills .skills-bar .bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -22px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=style.css.map */